# Ignore node_modules folders
node_modules/
**/node_modules/

# Ignore environment variable files
.env
**/.env

# Ignore package-lock.json files
package-lock.json
**/package-lock.json

node_modules
**/node_modules
# Ignore log files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore OS-specific and IDE files (optional)
.DS_Store
Thumbs.db
.vscode/
.idea/
